In [2]:
from pandas_datareader import data
import datetime
from bokeh.plotting import figure, show, output_file

start=datetime.datetime(2018,11,1)
end=datetime.datetime(2018,11,10)
df=data.DataReader(name="AAPL",data_source="yahoo",start=start,end=end)
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-10-31,220.449997,216.619995,216.880005,218.860001,38358900.0,218.099014
2018-11-01,222.360001,216.809998,219.050003,222.220001,58323200.0,221.447327
2018-11-02,213.649994,205.429993,209.550003,207.479996,91328700.0,206.758575
2018-11-05,204.389999,198.169998,204.300003,201.589996,66163700.0,200.889053
2018-11-06,204.720001,201.690002,201.919998,203.770004,31882900.0,203.061493
2018-11-07,210.059998,204.130005,205.970001,209.949997,33424400.0,209.219986
2018-11-08,210.119995,206.750000,209.979996,208.490005,25362600.0,208.490005
2018-11-09,206.009995,202.250000,205.550003,204.470001,34365800.0,204.470001

In [3]:
p=figure(x_axis,type='datetime',width=1000,height=300)
p.title="Candlestick Chart"

NameError: name 'x_axis' is not defined